* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #ffffff;
  --secondary-color: #ececec;
  --text-color: #080808;
  --accent-color: #61dafb;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  background-color: #ececec;
}
/* Utilities Classes*/
.text-align-right {
  text-align: right;
}
.flex {
  display: flex;
}
.flex-jc-center {
  justify-content: center;
}
.flex-ai-center {
  align-items: center;
}
.flex-jc-btwn {
  justify-content: space-between;
}
.flex-d-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-i-start {
  align-items: flex-start;
}
.gap-10px {
  gap: 10px;
}
.gap-1rem {
  gap: 1rem;
}
.gap-2rem {
  gap: 2rem;
}
.gap-3rem {
  gap: 3rem;
}
.padding-top-10px {
  padding-top: 10px;
}
.padding-bottom-10rem {
  padding-bottom: 10rem;
}
.padding-1rem {
  padding: 1rem;
}
hr {
  border: none;
  border-bottom: 1px solid #d5d5d5;
}
.pos-relative {
  position: relative;
}
/* Content Section */
.content-section {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 1000px) {
  .content-section {
    flex-direction: column;
  }
}
