* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #ffffff;
  --secondary-color: #ececec;
  --text-color: #080808;
  --accent-color: #61dafb;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  background-color: #ececec;
}
/* Utilities Classes*/
.text-align-right {
  text-align: right;
}
.flex {
  display: flex;
}
.flex-jc-center {
  justify-content: center;
}
.flex-ai-center {
  align-items: center;
}
.flex-jc-btwn {
  justify-content: space-between;
}
.flex-d-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.gap-10px {
  gap: 10px;
}
.gap-1rem {
  gap: 1rem;
}
.gap-2rem {
  gap: 2rem;
}
.gap-3rem {
  gap: 3rem;
}
