*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  background-color: #f3f3f3;
}
/* Utilities Classes*/
.text-align-right {
  text-align: right;
}
.flex {
  display: flex;
}
.flex-jc-center {
  justify-content: center;
}
.flex-ai-center {
  align-items: center;
}
.flex-jc-btwn {
  display: flex;
  justify-content: space-between;
}
.gap-10px {
  gap: 10px;
}
.gap-1rem {
  gap: 1rem;
}
.gap-2rem {
  gap: 2rem;
}
.gap-3rem {
  gap: 3rem;
}
